<%- include('./partials/head') %>

<h2>Huidige berichten</h2>
 <form method="POST" action="/">
  <label for="comment">Plaats een opmerking:</label>
  <textarea id="comment" name="bericht" required></textarea>
  <button type="submit">Verstuur opmerking</button>
</form> 

 
  <ul class="messageboard">
    <% messages.forEach(message => { %>
      <li><%= messages %></li>
    <% }) %>
  </ul>

 

<ul>
  <% messages.forEach(messages => { %>
    <li><%= messages %></li>
  <% }) %>
</ul>



<ul>
  <% persons.forEach(person => { %>
    <li>
      <a href="./person/<%= person.id %>">
      <%= person.name %></a> %>
      <!-- <%= person.surname %>  -->
      <img src="<%= person.avatar %>"`
      onerror="this.onerror=null; this.src='../assets/placeholder.jpg'">
    </li><% }) %>
</ul> 

<%- include('./partials/foot') %>